.custom-circle{
    background-color:yellow;
}

.c1{
    color:orange;
}

.question {
    width:100%; text-align:left; background-color:rgb(76,0,76); color:white;border:0px solid maroon
}

h2{
    color:maroon;
}

table th tr td {
    border:1px solid maroon;
    color:red;
}